{% extends 'base.html' %}
{% load cloudinary %}
{% load bootstrap4 %}
{% load static %}


{% block content%}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>New Post</title>
  {{form.media}}


</head>

<body>

  <div class="panel panel-default">
    <div class="panel-body">
      <form action="{% url 'add_project' %}" method="post"  enctype="multipart/form-data">

        {% csrf_token%}
        {% bootstrap_form form %}
        <div class="form-group text-center">
          <input type="submit" class="btn btn-primary sign-up-button" value="Post">
        </div>
        <input type="hidden" name="next" value="{{next}}">
      </form>
    </div>
  </div>
  {% endblock %}

</body>

</html>